#home{
    .short-descrip{
        
        p{
            text-align: justify;
            margin: .7rem 2rem;
        }
        h5{
            text-align: start;
            margin: 1rem 2rem 0;
        }
        
    }
}